<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>controller.AddStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewStudent</servlet-name>
        <servlet-class>controller.ViewStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewStudent</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditStudent</servlet-name>
        <servlet-class>controller.EditStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditStudent</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>controller.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
</web-app>